venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzz
*.pywzz
*.pyzzz
*.pywzzz

example_generated_prompts/
Data/
data/sample_features/
data/sample_generations/
samples/
logs/
samples/PMC-VQA/images/
PEFT/checkpoints/
FFT/checkpoints/
logs/
DataCounter/
all.zip
all2.zip
git/
checkpoints/
data/
results/
input_prompts/

all_samples/
fine-tune/results/
Shots/
new_per_modality/
analysis_outputs/
ablation_results/
logs-old/
samples2/